<div class="col-md-3 no-padding-right">
	<div class="video-latest-list video-wrapper" data-id="{{ID}}" data-views="{{VIEWS}}">
	   <div class="video-thumb">
	   	<a href="{{URL}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}"></a>
	   	<div class="video-duration">{{DURATION}}</div>
	   </div>
	   <div class="video-title">
	   	<a href="{{URL}}">{{TITLE}}</a>
	   </div>
	   <div class="video-info">
	   	<div>
	   	  	<a href="{{USER url}}">{{USER name_v}}</a> {{VIEWS_NUM}} views / {{TIME}}
	   	</div>
	   </div>
    </div>
</div>