<div class="video-wrapper article-wrapper" data-id="{{ID}}" id="article-{{ID}}">
    <div class="row">
    	<div class="video-thumb col-md-4">
            <a href="{{URL}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}"></a>
        </div>
        <div class="video-info col-md-8 no-padding-left">
            <div class="article-title">
                <h4><a href="{{URL}}">{{TITLE}}</a> </h4>
            </div>
            <div class="article-desc">
                <p>{{DESC}}</p>
            </div>
             <div class="article-views">
               <i class="fa fa-clock-o" aria-hidden="true"></i> {{TIME}}
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

