<div class="video-wrapper popular-articles-wrapper">
    <div class="row">
    	<div class="video-thumb col-md-5">
            <a href="{{URL}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}" width="100%"></a>
            <div class="clear"></div>
        </div>
        <div class="video-info col-md-7 no-padding-left no-padding-right">
            <div class="popular-article-title">
               <a href="{{URL}}">{{TITLE}}</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

